.progress {
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: 0;
    border-radius: none;
}

.form,
.cart {
    width: 410px;
    margin: 40px auto;
}

h5 {
    font-size: 1.5rem;
}

button {
    width: 100%;
}

img {
    padding: 20px;
}

.color-red {
    color: red;
}

@media screen and (max-width: 420px) {
    .form,
    .cart {
        width: 320px;
    }

    h5 {
        font-size: 1.2rem;
    }
}